<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GKX0NP1SYR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-GKX0NP1SYR');
    </script>
    @{
        ViewBag.Title = "Budgeting Home";
        Layout = "~/Views/Shared/_Layout_BudgetingHome.cshtml";
    }

    <title> Budgeting Home Page</title>
    <style>

        #main {
            font-size: 56px;
        }

        .btn {
            display: inline-block;
            padding: 10px 14px;
            color: #FFF;
            border: 1px solid #FFF;
            text-decoration: none;
            font-size: 14px;
            line-height: 120%;
            background-color: rgba(255,255,255, 0);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-transition: background-color 300ms ease;
            -moz-transition: background-color 300ms ease;
            transition: background-color 300ms ease;
            cursor: pointer;
        }

        .btn1 {
            border: 3px solid rgb(255, 255, 255);
            text-align: center;
            text-decoration: none;
            font-size: 14px;
            padding: 20px 24px;
            border-radius: 10px;
            cursor: pointer;
        }

        /* Green */
        /*.launch {
            border-color: black;
            color: white;
        }*/

        .btn:hover {
            background-color: rgba(255,255,255, 0.3);
            color: #FFF;
        }

        .isUnauthorized {
            opacity: 0.7;
        }
        .cardf {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
        }
        @@media (max-width: 980px) {
            .setTop {
                margin-top: 30px;
                font-size:40px
            }
        }
    </style>

    @section scripts{
        <script type="text/javascript">
            debugger;
            $.ajax({
                type: "POST",
                url: encodeURI("../Budgeting/is_PurchaseSPOC"),
                async: false,
                success: OnSuccess1
            });
            function OnSuccess1(data) {
                debugger;
                if (data.success) {
                    document.getElementById("VKMCardName").innerHTML = "Ordering Team View"; /*"VKM SPOC Reviews";*///"Purchase SPOC Reviews";
                    document.getElementById("VKMCardDesc").innerHTML = /*"Interface to enable Level 3 Reviewers to review and Submit VKM plans.";*/"Interface to support item procurance";
                    debugger;
                }
                if (data.isSpoc == 0) {
                    document.getElementById("isSpoc").classList.add('isUnauthorized');
                    document.getElementById("vkmbtn").disabled = true;
                    document.getElementById("isSpoc").title = "You are not authorised to access this view !";

                    document.getElementById("master").classList.add('isUnauthorized');
                    document.getElementById("masterbtn").disabled = true;
                    document.getElementById("master").title = "You are not authorised to access this view !";
                }
                else {
                    document.getElementById("isSpoc").classList.remove('isUnauthorized');
                    document.getElementById("vkmbtn").disabled = false;
                    document.getElementById("isSpoc").title = "";

                    document.getElementById("master").classList.remove('isUnauthorized');
                    document.getElementById("masterbtn").disabled = false;
                    document.getElementById("master").title = "";
                }
            }
            $.ajax({
                type: "POST",
                url: encodeURI("../BudgetingRequest/LEPlanner_Authorise"),
                async: false,
                success: OnSuccessLEP
            });
            function OnSuccessLEP(data) {
                debugger;

                if (data.data == "") {
                    document.getElementById("isEM").classList.add('isUnauthorized');
                    document.getElementById("requestsbtn").disabled = true;
                    document.getElementById("isEM").title = "You are not authorised to access this view !";
                } else {
                    document.getElementById("isEM").classList.remove('isUnauthorized');
                    document.getElementById("requestsbtn").disabled = false;
                    document.getElementById("isEM").title = "";
                }
            }
            $.ajax({
                type: "POST",
                url: encodeURI("../BudgetingApprovals/HOEReviews_Authorise"),
                async: false,
                success: OnSuccessHOE
            });
            function OnSuccessHOE(data) {
                debugger;

                if (data.data == "") {
                    document.getElementById("isHOE").classList.add('isUnauthorized');
                    document.getElementById("approvalsbtn").disabled = true;
                    document.getElementById("isHOE").title = "You are not authorised to access this view !";
                } else {
                    document.getElementById("isHOE").classList.remove('isUnauthorized');
                    document.getElementById("approvalsbtn").disabled = false;
                    document.getElementById("isHOE").title = "";
                }
            }

            debugger;
            //$.ajax({
            //    type: "POST",
            //    url: encodeURI("../Budgeting/is_VKMAdmin"),
            //    async: false,
            //    success: OnSuccess2
            //});
            //function OnSuccess2(data) {
            //    debugger;
            //    if (data.success) {
            //        document.getElementById("VKMCardName").innerHTML = "VKM Admin";
            //        document.getElementById("VKMCardDesc").innerHTML = "Interface to establish the bird's eye view of VKM Planner";
            //        debugger;
            //    }
            //}

            // window.onload = function () {
            // debugger;
            //$.ajax({
            //    async: false,
            //    type: "POST",
            //    url: encodeURI("../Budgeting/Get_RFOUsers"),
            //    success: function (data) {


            //        if (data.errormsg) {
            //            debugger;
            //            document.getElementById("adminRFO").style.display = "none";

            //        }
            //        else {
            //            debugger;
            //            document.getElementById("adminRFO").style.display = "block";
            //        }


            //    }
            //});



            //  };




        </script>
    }

</head>
    <body>
        <div class="jumbotron setTop" style="padding:2.5vh;">
            <table align="center">
                <tr align="center">
                    <td>
                        <img style="height:100px;width:90px;" src="~/Content/images/budget.png" />
                    </td>
                    <td>
                        <div id="main" style="text-align:center;"><b>Budgeting 3.0</b>  </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="card-deck text-center">

            <!--<div class="card border-dark" style="width:200px;height:28.5vh; min-height:205px;max-height:240px; resize: both; background-image: linear-gradient(to right, #50237f,#005691);">
                <img class="card-img mx-auto d-block" src="~/Content/images/vkm_cockpit.png" style="width:50px;height:55px;margin-top:5px" alt="VKM Cockpit">-->
            @*<div class="card-body">*@
            <!--<h3 class="card-title" align="center" style="color: white;">Lab Cockpit</h3>
            <p class="card-text" align="center" style="color: white;"> Interface to review VKM Summary.</p>-->
            @*</div>*@
            <!--<div class="card-footer bg-transparent" style="margin-top:4vh;" align="center"><button id="vkmcbtn" type="button" style="cursor:pointer;" class="btn">Launch</button></div>
            </div>-->

            <div class="card border-dark" id="isEM" style="background-image: linear-gradient(to right, #50237f,#005691);display:block;" ;>
                <img class="card-img mx-auto d-block" src="~/Content/images/req.png" style="width:50px;height:55px; " alt="Requests">
                @*@*<div class="card-body">*@
                <h3 class="card-title" align="center" style="color: white;">LE Planner</h3>
                <p class="card-text" align="center" style="color: white;">EM(Tech/Program Lead) Lab Equipment requests </p>
                @*</div>*@
                <div class="card-footer bg-transparent" style="margin-top:4vh;"><button id="requestsbtn" type="button" style="cursor:pointer" class="btn btn-outline-info">Launch</button></div>
            </div>
            <div class="card border-dark" id="isHOE" style="background-image: linear-gradient(to right, #50237f,#005691);display:block;">
                <img class="card-img mx-auto d-block" src="~/Content/images/rev.png" style="width:50px;height:55px; " alt="DH Reviews">
                @*<div class="card-body">*@
                <h3 class="card-title" align="center" style="color: white;">HoE Reviews</h3>
                <p class="card-text" align="center" style="color: white;">L2 Reviewer(Tech/Program Director) VKM Plan review</p>
                @*</div>*@
                <div class="card-footer bg-transparent" style="margin-top:4vh;"><button type="button" style="cursor:pointer" class="btn btn-outline-info" id="approvalsbtn">Launch</button></div>
            </div>

            <div class="card border-dark" id="isSpoc" style="background-image: linear-gradient(to right, #50237f,#005691);display:block;">
                <img class="card-img mx-auto d-block" src="~/Content/images/rev.png" style="width:50px;height:55px; " alt="VKM SPOC Reviews">
                @*<div class="card-body">*@
                <h3 id="VKMCardName" class="card-title" align="center" style="color: white;">VKM SPOC Reviews</h3>
                <p id="VKMCardDesc" class="card-text" align="center" style="color: white;"> L3 Reviewer VKM Plan review</p>
                @*</div>*@
                <div class="card-footer bg-transparent" style="margin-top:4vh;"><button type="button" style="cursor:pointer" class="btn btn-outline-info" id="vkmbtn">Launch</button></div>
            </div>


        </div>
        <br />

        <div class="card-deck text-center">

            <div id="hcPlanner" class="card border-dark" style="background-image: linear-gradient(to right, #50237f,#005691);display:none;">
                <img class="card-img mx-auto d-block" src="~/Content/images/req.png" style="width:50px;height:55px;  " alt="HCPlanner">
                @*<div class="card-body">*@
                <h3 class="card-title" align="center" style="color: white;">HC Planner</h3>
                <p class="card-text" align="center" style="color: white;">Planning VKM Head Counts</p>
                @*</div>*@
                <div class="card-footer bg-transparent" style="margin-top:4vh;"><button id="hcPlannerbtn" type="button" style="cursor:pointer" class="btn btn-outline-info">Launch</button></div>
            </div>


            <div id="adminRFO" class="card border-dark" style="background-image: linear-gradient(to right, #50237f,#005691);display:block;">
                <img class="card-img mx-auto d-block" src="~/Content/images/req.png" style="width:50px;height:55px;  " alt="Orders">
                @*<div class="card-body">*@
                <h3 class="card-title" align="center" style="color: white;">Lab RFO</h3>
                <p class="card-text" align="center" style="color: white;">Request for Ordering planned items</p>
                @*</div>*@
                <div class="card-footer bg-transparent" style="margin-top:4vh;"><button id="orderbtn" type="button" style="cursor:pointer" class="btn btn-outline-info">Launch</button></div>
            </div>


            <div id="master" class="card border-dark" style="background-image: linear-gradient(to right,  #50237f,#005691);display:block">
                <img class="card-img mx-auto d-block" src="~/Content/images/diag.png" style="width:50px;height:55px; " alt="Controlling Labcars">
                @*<div class="card-body" style="resize: both;">*@
                <h3 class="card-title" style="color: white;">Masters</h3>
                <p class="card-text" style="color: white;">Manage User Access & Items</p>
                @*</div>*@
                <div class="card-footer bg-transparent"><button id="masterbtn" type="button" class="btn btnBottom glossy-frame">Launch</button></div>
            </div>

            <!--<div class="card border-dark" style="background-image: linear-gradient(to right, #50237f,#005691);display:block;">
                <img class="card-img mx-auto d-block" src="~/Content/images/learn.png" style="width:50px;height:55px; " alt="VKM SPOC Reviews">
                    @*<div class="card-body">*@
                    <!--<h3 id="VKMCardName" class="card-title" align="center" style="color: white;">Requestors Master List</h3>
            <p id="VKMCardDesc" class="card-text" align="center" style="color: white;">Authorize Users</p>-->
            @*</div>*@
            <!--<div class="card-footer bg-transparent" style="margin-top:4vh;"><button type="button" style="cursor:pointer" class="btn btn-outline-info" id="vkmadminbtn">Launch</button></div>
            </div>

            <div class="card border-dark" style="background-image: linear-gradient(to right, #50237f,#005691);display:block;">
                <img class="card-img mx-auto d-block" src="~/Content/images/inlist.png" style="width:50px;height:55px; " alt="Items Master List">-->
            @*<div class="card-body">*@
            <!--<h3 class="card-title" align="center" style="color: white;">Items Master List</h3>
            <p class="card-text" align="center" style="color: white;">Manage Items for VKM Planning </p>-->
            @*</div>*@
            <!--<div class="card-footer bg-transparent" style="margin-top:4vh;"><button type="button" style="cursor:pointer" class="btn btn-outline-info" id="inventorybtn">Launch</button></div>
            </div>-->

            <div class="card border-dark" style="background-image: linear-gradient(to right, #50237f,#005691);display:block;">
                <img class="card-img mx-auto d-block" src="~/Content/images/faq.png" style="width:50px;height:55px; " alt="FAQ">
                @*<div class="card-body">*@
                <h3 class="card-title" align="center" style="color: white;">FAQ</h3>
                <p class="card-text" align="center" style="color: white;"> Got a Question? Know more</p>
                @*</div>*@
                <div class="card-footer bg-transparent" style="margin-top:4vh;"><button type="button" style="cursor:pointer" class="btn btn-outline-info" id="faqbtn" onclick="location.href='http://smartlab.apac.bosch.com/Budgeting/FAQ';">Launch</button></div>
            </div>




        </div>

        @*<br />*@




        <script>
        //window.onload = function () {
        //    debugger;
        //    $.ajax({
        //        async: false,
        //        type: "POST",
        //        url: encodeURI("../Budgeting/Get_RFOUsers"),
        //        success: function (data) {


        //            if (data.errormsg) {
        //                debugger;
        //                document.getElementById("admin").style.display = "none";

        //            }
        //            else {
        //                debugger;
        //                document.getElementById("admin").style.display = "block";
        //            }


        //        }
        //    });
        //};

        document.querySelector('#requestsbtn').addEventListener('click', function () {

                     var url='@Url.Action("Index", "BudgetingRequest",null, null)';
                     window.location.href=url;
        }, false);
        @*document.querySelector('#vkmadminbtn').addEventListener('click', function () {

                     var url='@Url.Action("Index", "BudgetingLabAdmin",null, null)';
                     window.location.href=url;
        }, false);*@

        document.querySelector('#orderbtn').addEventListener('click', function () {

                     var url='@Url.Action("Index", "BudgetingOrder",null, null)';
                     window.location.href=url;
                }, false);
        document.querySelector('#approvalsbtn').addEventListener('click', function () {

                     var url='@Url.Action("Index", "BudgetingApprovals", null, null)';
                     window.location.href=url;
        }, false);

        document.querySelector('#hcPlannerbtn').addEventListener('click', function () {

                     var url='@Url.Action("Index", "GRMEMSupport", null, null)';
                     window.location.href=url;
        }, false);


        @*document.querySelector('#inventorybtn').addEventListener('click', function () {

                     var url='@Url.Action("Index", "BudgetingInventory", null, null)';
                     window.location.href=url;
        }, false);*@
        document.querySelector('#vkmbtn').addEventListener('click', function () {

                     var url='@Url.Action("Index", "Budgetingvkm", null, null)';
                     window.location.href=url;
        }, false);
        @*document.querySelector('#vkmcbtn').addEventListener('click', function () {

                     var url='@Url.Action("VKMCockpit", "Cockpit", null)';
                     window.location.href=url;
        }, false);*@

           document.querySelector('#masterbtn').addEventListener('click', function () {

                     var url='@Url.Action("Index", "Master")';
                     window.location.href=url;
            }, false);

        </script>


    </body>
</html>

