
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Google tag (gtag.js) -->
    <script async=async src="https://www.googletagmanager.com/gtag/js?id=G-GKX0NP1SYR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-GKX0NP1SYR');
    </script>

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>

    <style type="text/css">
        .container-fluid body-content {
            position: absolute;
            min-height: 800px;
            min-width: 800px;
            overflow: hidden;
        }


        #content {
            position: absolute;
        }

            #content img {
                position: absolute;
                top: 10px;
                right: 10px;
            }

        body, html {
            height: 100%;
        }

        #sidebar {
            min-width: 130px;
        }

        .nav-link[data-toggle].collapsed:after {
            content: "▾";
        }

        .nav-link[data-toggle]:not(.collapsed):after {
            content: "▴";
        }
    </style>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - SmartLab Portal</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/DevExtremeBundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")
</head>
<body style="position:absolute;">
    <div>
        <img style="width:100%;" src="~/Content/images/Bosch-Supergraphic.jpg" />
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="~/Content/images/cockpit.PNG" style="height:30px; width:30px;" class="d-inline-block align-top" alt="" />
            SmartLab
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <text id="nav_home" class="nav-link" style="cursor:pointer">Home <span class="sr-only">(current)</span></text>
                </li>
                <li class="nav-item">
                    <text id="nav_contact" class="nav-link" style="cursor:pointer">Contact</text>
                </li>
            </ul>

        </div>
        <div class="mr-sm-2" id="divUserName" style="height:24px; ">@User.Identity.Name</div>
        <img class="my-2 my-sm-0" style="width:110px; height:24px; " src="~/Content/images/bosch.jpeg" />
    </nav>



    @*//////*@

    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-2 collapse d-md-flex bg-faded pt-2 h-100" id="sidebar">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item"><a class="nav-link" href="#">Overview</a></li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#submenu1" data-toggle="collapse" data-target="#submenu1"> Detailed Reports</a>
                        <div class="collapse" id="submenu1" aria-expanded="false">
                            <ul class="flex-column pl-2 nav">
                                <li class="nav-item" id="infra"><a class="nav-link py-0" href="">Infra Utilization</a></li>
                                <li class="nav-item">
                                    <a class="nav-link py-0" href="">VKM Summary</a>
                                    @*<div class="collapse small" id="submenu1sub1" aria-expanded="false">
                                            <ul class="flex-column nav pl-4">
                                                <li class="nav-item">
                                                    <a class="nav-link p-0" href="">
                                                        <i class="fa fa-fw fa-clock-o"></i> Daily
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link p-0" href="">
                                                        <i class="fa fa-fw fa-dashboard"></i> Dashboard
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link p-0" href="">
                                                        <i class="fa fa-fw fa-bar-chart"></i> Charts
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link p-0" href="">
                                                        <i class="fa fa-fw fa-compass"></i> Areas
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>*@
                                </li>
                                <li class="nav-item"><a class="nav-link py-0" href="">VKM Charts</a></li>
                            </ul>
                        </div>
                    </li>
                    @*<li class="nav-item"><a class="nav-link" href="#">Analytics</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Export</a></li>*@
                </ul>
            </div>
            <div class="col pt-2">
                <h2>
                    <a href="" data-target="#sidebar" data-toggle="collapse" class="hidden-md-up"><i class="fa fa-bars"></i></a>
                    Content
                </h2>
                <h6 class="hidden-sm-down">Shrink page width to see sidebar collapse</h6>
                <p>
                    3 wolf moon retro jean shorts chambray sustainable roof party. Shoreditch vegan artisan Helvetica. Tattooed Codeply Echo Park Godard kogi, next level irony ennui twee squid fap selvage. Meggings flannel Brooklyn literally small batch, mumblecore
                    PBR try-hard kale chips. Brooklyn vinyl lumbersexual bicycle rights, viral fap cronut leggings squid chillwave pickled gentrify mustache. 3 wolf moon hashtag church-key Odd Future. Austin messenger bag normcore, Helvetica Williamsburg
                    sartorial tote bag distillery Portland before they sold out gastropub taxidermy Vice.
                </p>
            </div>
        </div>
    </div>




    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer id="footer" class="navbar-text" style="width:100%">
            <div style="width:100%; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:small">
                <span>V1.0.0.3 - Developed by NE2-VS SmartLab Software Team @DateTime.Now.Year - Robert Bosch Engineering and Business Solutions Ltd</span>
                <span style="float:right">-- Best viewed in Mozilla / MS Edge --</span>
            </div>

        </footer>
    </div>


    @*<script src="~/Scripts/jquery-3.5.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <script src="~/Scripts/notify.min.js"></script>*@
<script>
        $(document).ready(function () {
            $('#nav_home').click(function () {
                var url='@Url.Action("Index","Home")';
                window.location.href=url;
            });
            $('#nav_contact').click(function () {
                var url='@Url.Action("Contact","Home")';
                window.location.href=url;
            });
            $('#infra').click(function () {
                //$('#Itemview_Title').prop('hidden', false);
                 var url='@Url.Action("Infra","SLCockpit")';
                window.location.href=url;
            });
        });

</script>
    @RenderSection("scripts", required: false)
</body>

</html>
