@model LC_Reports_V1.Models.DiagnosticsParam
@{
    ViewBag.Title = "DiagnosticsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @section Scripts{

        <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        @*CSS Library specific for Diagnostics Portal*@
        <link href="~/Content/SmartLabPortal_Diagnostics.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-select.css" rel="stylesheet" />

        @*JS Library to export multiple DataGrids*@
        <script src="~/Scripts/export/exceljs.min.js"></script>
        <script src="~/Scripts/export/FileSaver.min.js"></script>

        @*External stylesheet to exhibit HW/Project and YoY functionality*@
        <script src="~/Scripts/SmartLabPortal_Diagnostics_HWProject.js"></script>
        <script src="~/Scripts/SmartLabPortal_Diagnostics_YoY.js"></script>
        <script src="~/Scripts/bootstrap-select.js"></script>




        <script>
            const items = document.querySelectorAll(".accordion a");
            function toggleAccordion() {

                this.classList.toggle('active');
                this.nextElementSibling.classList.toggle('active');
            }
            items.forEach(item => item.addEventListener('click', toggleAccordion));


            function fnSitesChange(siteSelect) {
                debugger;
                fnfetchSiteChosen();
                $('#selectLocation').change(function () {
                    $('#selectLabId option:first').prop('selected', 'selected');

                });
                var siteOptions = siteSelect && siteSelect.options;

                if (siteOptions.selectedIndex > -1) {
                    $("#selectLabId").prop('disabled', false);
                }
                else {
                    $("#selectLabId").prop('disabled', true);
                }
                var siteSel;
                document.getElementById("selectLabId").innerHTML = "";
                var labOptions = "";
                for (var j = 0, jLen = siteOptions.length; j < jLen; j++) {

                        siteSel = siteOptions[j];


                        if (siteSel.selected) {

                                @foreach (var item in Model.objFilterPageExpInfo.Labs)
                                {
                                    <text>
                            if  (siteSel.value == "@item.Location.ToUpper()") { labOptions += "<option value='@item.id'>" + "@item.name" + "</option>"; }
                                    </text>
                                };
                        }

                }

                document.getElementById("selectLabId").innerHTML = labOptions;
                var select = $("#selectLabId");
                select.html(select.find('option').sort(function (x, y) {
                    // to change to descending order switch "<" for ">"
                    return $(x).text() > $(y).text() ? 1 : -1;
                }));



                $(".selectpicker").selectpicker('refresh');

            }

        </script>

    }

</head>
<body>

    <div class="accordion w3-button">
        <div class="container1">
            @* Diagnostics Landing Page *@
            <div class="diag_landing">
                <table align="center">
                    <tr align="center">
                        <td>
                            <img style="height:70px;width:60px;" src="~/Content/images/diagnostics.png" />
                        </td>
                        <td>
                            <div id="Diag_Pg_Title"><b>SmartLab Diagnostics Options</b>  </div>
                        </td>
                    </tr>
                </table>
            </div>
            @*First accordion item on Project/HW details*@
            <div align="center" class="accordion-item">

                <a class="accordion_indications" id="Pr_HW" style="background: repeating-linear-gradient(#74ABDD, #74ABDD 49.9%, #498DCB 50.1%, #498DCB 100%);"><b>Project/HW Details</b></a>

                <div class="content">
                    <section>
                        <p style="text-align:center;">Here you may find HW/Project Details. Please provide the inputs!</p>
                        <div id="div1">
                            <hr />
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.LabID)
                            @Html.HiddenFor(m => m.LCLocationName)

                            @* User Input Form for HW/Project related details *@
                            <h4 id="hw_yoy_title" style="text-align:center;"><b> HW/Project View </b></h4>
                            <table style="margin:auto;">
                                <tr>
                                    <td> <label style="text-align:right;" class="" for="Start Time">Start Date :</label> </td>
                                    <td class="">
                                        <input type="text" value="@Model.StartTime.ToString("MM/dd/yyyy")" style="cursor:pointer; width:100px;" title="Please choose the Start Date " @*onchange="validateTime(this)"*@ id="StartTime" name="StartTime" />
                                    </td>

                                    <td> <label style="text-align:right; padding-left: 50px;" class="" for="End Time">End Date : </label> </td>
                                    <td class="">
                                        <input type="text" value="@Model.EndTime.ToString("MM/dd/yyyy")" style="cursor:pointer; width:100px;" title="Please choose the End Date" @*onchange="validateTime(this)"*@ id="EndTime" name="EndTime" />
                                    </td>

                                    <td rowspan="2" class=""> <label style="text-align:right; padding-left: 50px;" class="" for="lab location">Site:</label></td>
                                    <td rowspan="2" class="" id="Site_drpdwn_projtable"> @Html.DropDownList("Site", Model.Sites as List<SelectListItem>, new { @class = "selectpicker", @title = "Choose Site", @id = "selectSite", @style = "cursor:pointer;", multiple = "multiple", @onchange = "fnSitesChange(this)", data_style = "btn-success", data_live_search = "true", data_actions_box = "true", data_width = "200px", data_display = "static", data_dropup_auto = "false" })</td>


                                    <td rowspan="2" class=""> <label style="text-align:right;  padding-left: 50px;" class="" for="LabID:"> Lab ID: </label></td>
                                    <td rowspan="2" class=""></td>
                                    <td rowspan="2" class="" style="padding-right:100px; height:15px;">

                                        <div>
                                            @Html.DropDownList("LabId", Model.LabIDs as List<SelectListItem>, new
                                       {
                                           @class = "selectpicker",
                                           @title = "Select LabID",
                                           @id = "selectLabId",
                                           @style = "cursor:pointer;",
                                           multiple = "multiple",
                                           @onchange = "fnLabIDChange(this)",
                                           data_style = "btn-success",
                                           data_live_search = "true",
                                           data_actions_box = "true",
                                           data_width = "200px",
                                           data_display = "static",
                                           data_dropup_auto = "false"
                                       })
                                        </div>
                                    </td>


                                    <td id="button" style="float:right">
                                        <button type="button" class="btn btn-info create" id="gen"><b id="genText">Get LC Info</b><i id="genSpinner"></i></button>
                                    </td>
                                </tr>
                            </table>
                        </div>


                        @*Export datagrid data to Excel-on click of export icon*@

                    <div class="demo-container">
                        <div id="exportContainer" style="padding-top:30px; float:left; ">
                            @(Html.DevExtreme().Button()
                                    .Text("Export all grids")
                                    .HoverStateEnabled(true)
                                    .OnClick("notify")
                                    .Icon("xlsxfile")
                                    .OnClick("exportGrids"))
                        </div>


                        <div id="gridContainer_d1" style="padding-top: 70px;padding-bottom:50px;"></div>
                        <div id="gridContainer_d2" style="padding-bottom: 50px"></div>
                        <div id="gridContainer_d3" style="padding-bottom: 50px"></div>
                        <div id="gridContainer_d4" style="padding-bottom: 50px"></div>
                        <div id="gridContainer_d5" style="padding-bottom: 50px"></div>
                        <div id="gridContainer_d6" style="padding-bottom: 50px"></div>
                        <div id="gridContainer_d7" style="padding-bottom: 50px"></div>
                        <div id="gridContainer_d8" style="padding-bottom: 50px"></div>
                        <div id="gridContainer_d9" style="padding-bottom: 50px"></div>
                        <div id="gridContainer_d10" style="padding-bottom: 50px"></div>
                        <div id="gridContainer_d11" style="padding-bottom: 50px"></div>
                        <div id="gridContainer_d12" style="padding-bottom: 50px"></div>

                        @*<div id="gridContainer_d13" style="padding-bottom: 50px"></div>*@
                    </div>
                    </section>

                </div>
            </div>
        </div>


        @*Second accordion item on YoY details*@
        <div class="container2">
            <div align="center" class="accordion-item">
                <a class="accordion_indications" id="Pr_HW" style="background: repeating-linear-gradient(#74ABDD, #74ABDD 49.9%, #498DCB 50.1%, #498DCB 100%);"><b>Year on Year Stats</b></a>
                <div class="content">
                    <section>
                        <p style="text-align:center;">Here you may find YoY Details. Please choose as per your preference!</p>


                        <div id="div2">
                            <hr />
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Site)

                            @* User Input Form for Year on Year LC Type Location-wise Chart *@
                            <h4 id="hw_yoy_title" style="text-align:center;"><b> Year on Year Chart - Lab Types View </b></h4>

                            <table style="margin:auto; padding-bottom: 500px;">
                                <tr>

                                    <td rowspan="2" class=""> <label style="text-align:left;  padding-right: 20px;" class="" for="Site:"> Site:</label></td>
                                    <td rowspan="2" class=""></td>
                                    <td rowspan="2" class="" id="Site_drpdwn" style="padding-right:100px;"> @Html.DropDownList("Site", Model.Sites as List<SelectListItem>, new { @class = "selectpicker", @title = "Choose Site", @id = "selectSite1", @style = "cursor:pointer;", multiple = "multiple", @onchange = "fnSitesChange1(this)", data_live_search = "true", data_actions_box = "true", data_width = "200px", data_display = "static", data_dropup_auto = "false" })</td>

                                    <td id="button1" style="float:right; padding-right:100px;">
                                        <button type="button" class="btn btn-warning create1" id="gen1"><b id="genText1">Generate Chart</b><i id="genSpinner1"></i></button>
                                    </td>
                                </tr>
                            </table>

                            @* Export chart data to Excel-on click of excel icon*@
                            <input type="image" src="/Content/images/Excel_Icon.png" alt="ExportToExcel" width="37" height="35" id="export" class="btn btn-outline-secondary btn-sm" style="margin:5px;float:right;" />

                        </div>
                        <div class="demo-container1">
                            @*<div id="chartContainer1" style="width:50%; height:650px; /*justify-content:center;*/ padding-bottom:100px; "></div>
                                <div id="#pieChartContainer1" style="width:50%; height:650px; /*justify-content:center;*/ padding-bottom:100px; "></div>*@

                            @*<div id="chart-demo">
                                <div class="charts">*@
                            <table style="width:100%; height:100%; margin:auto;">
                                <tr>
                                    <td align="center">
                                        <div id="chartContainer1" style="height:600px;"></div>
                                    </td>
                                </tr>

                                <tr>
                                    <td align="center">
                                        @* for chart alignment to center since it changes when height width specified *@
                                        <div align="center" id="pieChartContainer1" ></div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="controls-pane">
                                            <div id="export_multiplecharts"></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            @*</div>*@

                            @*</div>*@

                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>
</body>
</html>